<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
	
	<bean id="loginAction" class="com.cobble.huasheng.action.LoginAction" scope="prototype">
	</bean>	
	<bean id="userAction" class="com.cobble.huasheng.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="indexAction" class="com.cobble.huasheng.action.IndexAction" scope="prototype">
		<property name="topicService" ref="topicService"></property>
		<property name="itemService" ref="itemService"></property>
	</bean>
	<bean id="topicAction" class="com.cobble.huasheng.action.TopicAction" scope="prototype">
		<property name="topicService" ref="topicService"></property>
	</bean>
	<bean id="categoryAction" class="com.cobble.huasheng.action.CategoryAction" scope="prototype">
		<property name="categoryService" ref="categoryService"></property>
		<property name="topicService" ref="topicService"></property>
	</bean>
	<bean id="itemAction" class="com.cobble.huasheng.action.ItemAction" scope="prototype">
		<property name="itemService" ref="itemService"></property>
		<property name="topicService" ref="topicService"></property>
	</bean>
	<bean id="videoAction" class="com.cobble.huasheng.action.VideoAction" scope="prototype">
		<property name="videoService" ref="videoService"></property>
	</bean>
	<bean id="videoSrcAction" class="com.cobble.huasheng.action.VideoSrcAction" scope="prototype">
		<property name="videoSrcService" ref="videoSrcService"></property>
	</bean>
	<bean id="videoplayAction" class="com.cobble.huasheng.action.VideoplayAction" scope="prototype">
	</bean>
	
	<!-- manage -->
	<bean id="indexManageAction" class="com.cobble.huasheng.manage.action.IndexAction" scope="prototype">
	</bean>
</beans>