@charset "utf-8";
/* CSS Document */
body{font-size:12px; font-family:"宋体";}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,a,p,input,img,dl,dt,dd,ol,ul,li,form,legend,tr,th,td{margin:0;padding:0;border:0;outline:0;}
img     { border:0; vertical-align:top }
ul,li { list-style:none;}
a{ color:#000000;text-decoration:none; cursor:pointer;}
a:link {
 color: #000000;
 text-decoration: none;
}
a:visited {
 text-decoration: none;
 color: #000000;
}
a:hover {
 text-decoration:underline;
 color:#ff0000;
}
a:active {
 text-decoration: none;
 color: #000000;
}

.main{width:960px;margin:0 auto;}
/* 影视首页面头部 */
.videotop-main{width:960px; float:left;}
.videotop-tou{width:960px;  background:#f8f6e7;  border-bottom:4px solid #226f8b;}
.logo{ width:282px; height:115px;}
.videotop-dh-k{width:960px; height:112px; margin-top:5px; margin-bottom:20px; padding-top:20px; border-top:1px solid #c1c7cf;}
.videotop-dh{ width:190px; height:112px; padding-right:20px; border-right:1px dashed #c1c7cf; margin-right:10px; float:left;}
.videotop-dh-s{ width:190px; height:28px;}
.videotop-dh-t{ width:120px; height:28px; line-height:28px; float:left; padding-left:9px; font-size:16px; font-family:"新宋体"; font-weight:bolder; color:#46612c;}
.videotop-dh-m{ width:60px; height:28px; line-height:28px; float:left; color:#9c9c9c;}
.videotop-dh-m a{ float:right;}
.videotop-dh-m a:hover{ color:#226f8b; text-decoration:none;}
.videotop-dh-m p{ float:right;}
.videotop-dh-fl{width:190px; height:84px;}
.videotop-dh-fl a{ margin-left:6px; line-height:24px;color:#9c9c9c;}
.videotop-dh-r{ width:76px; height:112px; float:left;}
.videotop-dh-r a{ margin-left:6px; line-height:24px;}

/* 影视首页面 */
.video-index-main{width:960px; float:left;}
.video-index-lbk{ width:760px; float:left;}
.video-index-lbbt{ color:#2b2b2b; text-align:left; float:left; width: 97px; height:26px; font-size:24px; border-left:8px solid #005bcc; padding-left:13px;}
.video-index-lbmore{ float:right; font-size:12px;}
.video-index-lbmore a{font-size:12px; text-align:right; line-height:12px;}
.video-index-lb{ margin-right:0px;}
.video-index-lb li{ width:138px; height:231px; float:left; margin-right:14px; margin-bottom:10px;}
.video-index-tp{ width:138px; height:185px; display:block;}
.video-index-tp img{max-width:138px;width:expression(document.body.clientWidth > 138?"138px":"auto" );display:block;border:0}
.video-index-bt{ width:138px; height:24px; display:block; line-height:24px; text-align:center; font-family:"新宋体"; font-size:14px; font-weight:bolder; overflow:hidden;}
.video-index-bt:hover {text-decoration: none; color:#4773d2;}
.video-index-ms{ width:138px; height:22px; line-height:22px; text-align:center; color:#878787; font-size:12px; overflow:hidden;}

.video-index-ph{ width:180px; margin-left:20px; float:left;}
.video-index-pht{ width:159px; height:20px; border-left:6px solid #f26522; padding-left:15px; line-height:20px; font-size:16px; font-weight:bold;}
.nr_ph_lb{ width:180px; margin-top:20px;}
.nr-item-list LI {MARGIN-TOP: -1px; WIDTH: 100%; OVERFLOW: hidden;}
.nr-current {}
.nr-item-hd {PADDING-BOTTOM: 9px; PADDING-LEFT: 2px; PADDING-RIGHT: 4px; HEIGHT: 15px; PADDING-TOP: 8px; FONT-SIZE: 14px; line-height:15px;}
.nr-list-title {DISPLAY: inline; FLOAT: left; margin-left:10px; font-size:14px; width:120px; height:15px; overflow:hidden;}
.ph-num { TEXT-ALIGN: center;  LINE-HEIGHT: 15px; WIDTH: 15px; DISPLAY: inline; BACKGROUND: #f26522; FLOAT: left; HEIGHT: 15px; COLOR: #fff; FONT-SIZE: 14px;}
.video-index-rise {TEXT-ALIGN: right; float:right; MARGIN-right:10px; font-size:12px; display:none;}



@media projection, screen {
    .ui-tabs-hide {
        display: none;
    }
}

@media print {
    .ui-tabs-nav {
        display: none;
    }
}

.ui-tabs-nav, .ui-tabs-panel {
    font-family: "Trebuchet MS", Trebuchet, Verdana, Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.ui-tabs-nav {
    list-style: none;
    margin: 0px 0px;
    padding: 0 0 0 0;
}
.ui-tabs-nav:after { 
    display: block;
    clear: both;
    content: " ";
}
.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 0px;
    min-width: 30px; 
	padding:0px 6px;
}
.ui-tabs-nav a,.ui-tabs-nav a span{
    display: block;
    padding: 0 0px;
    /*background:url(../images/tab.png) no-repeat;*//*TAB背景图*/
}
.ui-tabs-nav a {
    margin: 1px 0 0; 
    padding-left: 0;
    color: #666666;
    font-weight:normal;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;     
    outline: 0; 
}
.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
    color: #ffffff;
	background:#3776d3;
}
.ui-tabs-nav a span {
    width: 60px; 
    min-width: 30px;
    height: 24px; 
    min-height: 24px;
    padding-top: 6px;
    padding:0px 3px;
}
*>.ui-tabs-nav a span { 
    width: auto;
    height: auto;
}
.ui-tabs-nav .ui-tabs-selected a span {
    padding-bottom: 1px;
}
.ui-tabs-nav .ui-tabs-selected a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -150px;
}
.ui-tabs-nav a, .ui-tabs-nav .ui-tabs-disabled a:hover, .ui-tabs-nav .ui-tabs-disabled a:focus, .ui-tabs-nav .ui-tabs-disabled a:active {
    background-position: 100% -100px;
}
.ui-tabs-nav .ui-tabs-selected a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
}
.ui-tabs-nav a span, .ui-tabs-nav .ui-tabs-disabled a:hover span, .ui-tabs-nav .ui-tabs-disabled a:focus span, .ui-tabs-nav .ui-tabs-disabled a:active span {
    background-position: 0 0;
}
.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav .ui-tabs-disabled a:link, .ui-tabs-nav .ui-tabs-disabled a:visited { 
    cursor: text;
}
.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active,
.ui-tabs-nav .ui-tabs-unselect a:hover, .ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active { 
    cursor: pointer;
}
.ui-tabs-disabled {
    opacity: .4;
    filter: alpha(opacity=40);
}
.ui-tabs-panel {
    /*border-top: 1px solid #97a5b0;*/ /* tab下划线*/
    padding: 13px 0px; /*内容框距TAB的距离*/
    background: #fff; 
}
.ui-tabs-loading em {
    padding: 0 0 0 20px;
    background:url(../images/loading.gif) no-repeat 0 50%;
}


* html .ui-tabs-nav { 
    display: inline-block;
}
*:first-child+html .ui-tabs-nav  { 
    display: inline-block;
}


/* 影视分类页面 */
.videoclass-dhk{ width:960px; height:80px; margin:0 auto; margin-top:5px; border-top:1px solid #cccccc; padding-top:10px;} 
.videoclass-dhk-zuo{ width:100px; height:80px; float:left; border-right:1px solid #cccccc;}
.videoclass-dhk-zuo-top{ width:100px; height:40px;}
.videoclass-dhk-zuo-top p{ margin-left:10px; line-height:40px; color:#000000; font-size:14px;}
.videoclass-dhk-zuo-bottom{ width:100px; height:40px;}
.videoclass-dhk-zuo-bottom p{ margin-left:10px; line-height:40px; color:#000000; font-size:14px;}
.videoclass-dhk-you{ width:859px; height:80px; float:left;}
.videoclass-dhk-you-top{ width:779px; height:40px; float:left;}
.select-top-y{ margin-left:10px; float:left;}
.select-top-y a{line-height:40px; font-size:14px; background:#6baeff; color:#FFFFFF; padding:2px;}
.select-top-n{ margin-left:10px; float:left;}
.select-top-n a{line-height:40px; font-size:14px; color:#46612c;}
.videoclass-dhk-you-bottom{ width:859px; height:40px;}
.select-bottom-y{ margin-left:10px; float:left;}
.select-bottom-y a{line-height:40px; font-size:12px; background:#6baeff; color:#FFFFFF; padding:2px;}
.select-bottom-n{ margin-left:10px; float:left;}
.select-bottom-n a{line-height:40px; font-size:12px; color:#9c9c9c; }
.fhsy{ width:60px; line-height:40px; font-size:12px; float:left; text-align:right; padding-right:20px;}
.videoclass-lbk{ width:760px; float:left; margin-top:30px;}
.videoclass-lbtk{ width:760px;  height:26px;}
.videoclass-lbbt{ color:#2b2b2b; text-align:left; float:left; width: 120px; height:26px; font-size:24px; border-left:8px solid #005bcc; padding-left:13px;}
.videoclass-lbmore{ float:right; font-size:12px; height:26px;}
.videoclass-lbmore a{font-size:12px; text-align:right; line-height:26px;}
.videoclass-lb{ margin-top:10px;}
.videoclass-lb li{ width:138px; height:231px; float:left; margin-right:14px; margin-bottom:10px;}
.videoclass-tp{ width:138px; height:185px; display:block;}
.videoclass-tp img{max-width:138px;width:expression(document.body.clientWidth > 138?"138px":"auto" );display:block;border:0}
.videoclass-bt{ width:138px; height:24px; display:block; line-height:24px; text-align:center; font-family:"新宋体"; font-size:14px; font-weight:bolder;}
.videoclass-bt:hover {text-decoration: none; color:#4773d2;}
.videoclass-ms{ width:138px; height:22px; line-height:22px; text-align:center; color:#878787; font-size:12px;}
.videoclass-ph{ width:180px; margin-left:20px; float:left; margin-top:30px;}

/* 影视二级分类页面 */
.videorow-lbk{ width:960px; margin:0 auto; margin-top:30px;}
.videorow-lb{width:950px; margin-top:10px; margin-left:-5px; overflow:hidden;}
.videorow-lb li{ width:138px; height:231px; float:left; margin-left:20px; margin-bottom:10px;}

/* 网站底部 */
.bottom{width:960px; height:100px; line-height:24px; margin-top:20px; border-top:2px solid #226f8b; float:left;}
.bottom p{ text-align:center;}
/* 网站广告 */
.videoindexgg{ width:180px; height:100px; }











